<div ng-if="bs.loading === true" class="loader">
  <!-- Source:  Github @SamHerbert -->
  <svg
    width="38"
    height="38"
    viewBox="0 0 38 38"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
        <stop stop-color="#456dfe" stop-opacity="0" offset="0%" />
        <stop stop-color="#456dfe" stop-opacity=".631" offset="63.146%" />
        <stop stop-color="#456dfe" offset="100%" />
      </linearGradient>
    </defs>
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)">
        <path
          d="M36 18c0-9.94-8.06-18-18-18"
          id="Oval-2"
          stroke="url(#a)"
          stroke-width="2"
        >
          <animateTransform
            attributeName="transform"
            type="rotate"
            from="0 18 18"
            to="360 18 18"
            dur="0.9s"
            repeatCount="indefinite"
          />
        </path>
        <circle fill="#456dfe" cx="36" cy="18" r="1">
          <animateTransform
            attributeName="transform"
            type="rotate"
            from="0 18 18"
            to="360 18 18"
            dur="0.9s"
            repeatCount="indefinite"
          />
        </circle>
      </g>
    </g>
  </svg>
</div>
<div ng-if="bs.error" class="alert alert-danger" role="alert">
  {{ bs.message }}
</div>
<div class="row" ng-if="bs.error == false && bs.loading == false">
  <div class="col">
    <h5 class="mb-4 color-primary hc-title">
      La situation de Covid-19 à
      <span class="text-capitalize">{{bs.wilaya.name | lowercase }}</span>
    </h5>

    <div class="row px-0 pt-2 mb-4">
      <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
        <div class="card border shadow-none rounded-0">
          <div class="card-body px-4 py-1">
            <p class="card-text font-weight-normal pt-3 mb-2 text-uppercase">
              Confirmé
            </p>
            <h5 class="card-title font-weight-normal mt-0">{{bs.confirmed}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
        <div class="card border shadow-none rounded-0">
          <div class="card-body px-4 py-1">
            <p class="card-text font-weight-normal pt-3 mb-2 text-uppercase">
              Guérisons
            </p>
            <h5 class="card-title font-weight-normal mt-0">{{bs.recovered}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
        <div class="card border shadow-none rounded-0">
          <div class="card-body px-4 py-1">
            <p class="card-text font-weight-normal pt-3 mb-2 text-uppercase">
              Décès
            </p>
            <h5 class="card-title font-weight-normal mt-0">{{bs.deaths}}</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- <ul ng-repeat="age in bs.wilaya.ages">
            <li>
                <span ng-If='!age'>0</span>
                {{ age }}
            </li>
        </ul> -->
  </div>
</div>
